<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <meta name="theme-color" content="#E1AA74"/>

  <title>Ajif's Restaurant</title>
  
  <link rel="apple-touch-icon" href="../public/icons/icon-192x192.png">
  <link rel="icon" href="../public/favicon.png">
  <link href="https://fonts.googleapis.com/css?family=Roboto:300,400,500" rel="stylesheet" type="text/css"/>
  <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;600&display=swap" rel="stylesheet">
  <link rel="manifest" href="../public/app.webmanifest">
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" 
  crossorigin="anonymous">
</head>

<body>
  <a href="#maincontent" class="skip-link">Menuju ke konten</a>
  <header>
    <my-navbar></my-navbar>
  </header>

  <my-hero></my-hero>
  <main id="mainContent" tabindex="0"></main>
  <my-footer></my-footer>
</body>
</html>

